<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    {{>header}}
    {{subhead}} <br>
    <p>this site uses media from map.box and darksky.net</p>
    <img src="/img/me.png">

    <footer>
    {{>footer}}
    </footer>
</body>
</html>