<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    {{>header}}
        {{subhead}} <br>
    <img src="/img/me.png">

    <footer>
    {{>footer}}
    </footer>
</body>
</html>